/* Set the font family and size for the whole document */  
* { 
    font-family: 'Smythe', cursive;
    font-size: 16px; 
}
/* Modify the header text */
.header-image {
    width: 600px;
    height:167px;
}

.image{
    width:70px;
    height:89px;
    position:absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.item-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    margin:0px;
    padding:0px;
    margin-top:10px;
}

.add-btn {
    position:absolute;
    right:10px;
    top: 50%;
    transform: translateY(-50%)
}

#header-title{
    font-weight: normal;
    font-size:39px;
    position:absolute;
    top:35px;
    color:#ffffff;
    margin:0px;
    padding:0px;
    left:57px;

}
#header-subtitle{
    font-weight: normal;
    font-size:22.4px;
    position:absolute;
    top:83px;
    left:57px;
    color:#ffffff;
    margin:0px;
    padding:0px;
}

.item-1{
    margin:0px;
    padding:0px;
    width:508px;
    height:140px;
    position:absolute;
    top:234px;
    left:46px;
    border-bottom:#D2D2D2 1px solid;
}

.item-2{
    margin:0px;
    padding:0px;
    width:508px;
    height:140px;
    position:absolute;
    top:419px;
    left:46px;
    border-bottom:#D2D2D2 1px solid;
}

.item-3{
    margin:0px;
    padding:0px;
    width:508px;
    height:140px;
    position:absolute;
    top:604px;
    left:46px;
    border-bottom:#D2D2D2 1px solid;
}

.order-section{
    border:1px solid red;
    margin:0px;
    padding:0px;
    position:absolute;
    top:789px;
    left:46px;
    width:508px;
}

.order-text{
    font-size:28px;
    text-align:center;
}
